/*=====================
  GLOBAL STYLES
=======================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #000;
    color: #fff;
}

a {
    text-decoration: none;
    color: var(--white);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.active__link {
    color: yellow;
}

/*=====================
  MEDIA QUERIE
=======================*/
@media all and (max-width: 575px){

    /*====================
        MAIN HEADER
    ====================== */
    .main__header {
        padding: 15px;
    }

    /*====================
        MAIN CONTENT
    ====================== */
    .main .main__content .row > div{
        padding: 30px;
    } 

    .main__header .links .link__item .link {
        font-size: 1em;
    }

    .main .main__content .content h2 {
        font-size: 1.2em;
        text-align: center;
        max-height: 16px;
    }

    .main .main__content .content img{
        height: 150px;
        width: 100%;
    }
}